{% include 'header.html.twig'%}
<h1>Posty</h1>
<a href="upload">Wgraj mema</a>
<br><br>
{% for post in posts %}

   
    <div class='title'>
        <h2>{{ post.getTitle() }}</h2>
        {{ post.gettimeStamp() }}<br>
    </div>
<img class='img' src="{{ post.getFileName() }}"><br></div>
{% endfor %}

{% include 'footer.html.twig'%}