DirectoryIndex index.php

#enable apache rewrite engine
RewriteEngine on

RewriteBase /cms/pub

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 

RewriteRule ^(.*)$ index.php [QSA]